body{
    flex-wrap: wrap;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center; /*alinha os conteudos*/
    justify-content: space-between; /*espaco entre os elementos alinhados - horizontal*/  
}

header .logo{
    color: rgb(150, 122, 150) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

header nav a{
    text-decoration: none;
    color: rgb(150, 133, 139);
    margin-right: 10px;
}

header nav a:hover{
    color: rgb(206, 189, 206)
}

.imagemprincipal{

    font-size:16px;
    height: 400px;
    
    background-size: cover;
    background-image: linear-gradient(rgba(221, 209, 209, 0.5),rgba(36, 15, 15, 0.5)100%), url(img/img1.jpg);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    border: solid 2px rgb(175, 119, 139);

}

.container{ 
    margin-top: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;

}


.col{
    margin-top: 15px;
    align-items: center;
    text-align: center;
}


.h1{
    font-style: normal;
    font-size: 30px;
    align-items: center;
    margin-left: 100px;
}

.botao{
    background-color: rgb(136, 90, 136);
    border-radius: 5px;
    color: white;

    margin-top: 7px;
    padding: 6px 14px;
    

    font-size: 13px;
    cursor: pointer;
    transition: .2s ease all;
    border: solid 2px rgb(175, 119, 139);
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

form{
    font-size: 15px;
    color: white;
    background-color: rgb(150, 133, 139);
    margin-top: 100px;
    padding-top: 10px;
    border: solid 2px rgb(175, 119, 139);
}


footer{
    text-decoration: none;
    background-color: rgb(150, 133, 139);
    color: white;

    margin-right: 10px;
    margin-top: 10px;
    border: solid 2px rgb(175, 119, 139);
}

